<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http use-expressions="true" auto-config="true" create-session="ifRequired">
        <intercept-url pattern="/home" access="isAuthenticated()"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <form-login login-page="/login" default-target-url="/home"/>
        <http-basic/>
        <csrf disabled="true"/>
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl">
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="userDetailsServiceImpl" class="org.lcinga.service.UserDetailsServiceImpl"/>
</beans:beans>